@CHARSET "UTF-8";
/**
 * 	全局css设置
 */
#foot {
    text-align: center;
    display: block;
    height: 80px;
    width: 100%;
    /*background: #DCE0E3;*/
   background: #D1DDF3;
    /*background-image: url('../img/index/footbackground.png');*/
    /*background-repeat:repeat;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
}
 