@CHARSET "UTF-8";
/**
 * 	导航栏css设置
 */
#navigation {
    /*position: relative;*/
    /*float: left;*/
    display: block;
    /*background: #00DD00;*/
    height: 33px;
    width: 900px;
    margin: -10px auto 0px auto;
    padding: 0px;
}
#navigation img {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#navigation ul, li, p {
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
}

#navigation a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    z-index: 9999;
}

#navigation a:hover {
    color: #cc0000;
    text-decoration: none;
}

/*#navigation #header {
    width: 940px;
    margin: 0px auto 1px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #555;
    line-height: 20px;
    background: #dadada;
    z-index: 9999;
}*/

#navigation .nav {
    position: absolute;
    width: 900px;
    height: 33px;
    background: url(../img/nav2/navbg.gif) repeat-x;
    z-index: 9999;
}

#navigation .nav li {
    position: relative;
    float: left;
    z-index: 9999;
}

#navigation .nav .bg {
    background: url(../img/nav2/nav_xian.gif) no-repeat;
    width: 2px;
    height: 33px;
    padding: 0px;
    display: block;
}

#navigation .nav li a {
    line-height: 30px;
    padding: 0px 21px;
    float: left;
    height: 33px;
    color: #fff;
    font-size: 14px;
    z-index: 9999;
}

#navigation .nav li a:hover {
    background: url(../img/nav2/navbg_a.gif) repeat-x;
    color: #fff;
}

#navigation .nav li .nav-w {
    z-index: 21;
    position: absolute;
    display: none;
    float: left;
    clear: both;
    overflow: hidden;
    top: 33px;
    background: #fff;
    border: #faa651 1px solid;
    left: -1px;
}

#navigation .nav li:hover a {
    background: url(../img/nav2/navbg_a.gif) repeat-x;
    color: #fff;
}

#navigation .nav li .section-nav1 {
    padding: 10px;
    height: auto;
    overflow: hidden;
}

#navigation .nav li .section-nav1 ul {
    position: static;
    padding: 0px;
    margin: 0px;
    width: 160px;
    overflow: hidden;
}

#navigation .nav li .section-nav1 ul li {
    position: static;
    padding: 0px;
    margin-bottom: 3px;
    width: 100%;
    background: none;
    float: left;
}

#navigation .nav li .section-nav1 ul li a {
    border: #f0f0f0 1px solid;
    text-align: left;
    padding: 0px;
    line-height: 22px;
    width: auto;
    padding-left: 3px;
    display: block;
    background: none;
    float: none;
    height: auto;
    color: #3167a5;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
}

#navigation .nav li .section-nav1 ul li a:hover {
    border: #faa651 1px solid;
    background: none;
    color: #faa651;
}

