@CHARSET "UTF-8";
li{
	display: block;
	float: left;
}
a{
	display: inline;
	float:left;
	font-family: sans-serif;
	font-size: 10px;
	text-decoration: none;
}
.imgOperator{
	cursor:pointer;	
	display: inline;
	color:blue;
}