<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  	<display-name>hbou</display-name>
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>xchgx</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/xchgx-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>xchgx</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	    <filter> 
        <filter-name>OpenSessionInViewFilter</filter-name> 
        <filter-class> 
                org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
        </filter-class> 
        <!-- 指定在spring配置的sessionFactory --> 
        <init-param> 
            <param-name>sessionFactoryBeanName</param-name> 
            <param-value>mysqlSessionFactory</param-value> 
        </init-param> 
        <!-- singleSession默认为true,若设为false则等于没用OpenSessionInView -->    
        <init-param> 
                <param-name>singleSession</param-name> 
                <param-value>true</param-value> 
        </init-param> 
     </filter>  
     
	<!-- 自定义过滤器 -->
	<filter>
		<filter-name>managerFilter</filter-name>
		<filter-class>com.xchgx.filter.ManagerFilter</filter-class>
	</filter>
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>managerFilter</filter-name> -->
<!-- 		<url-pattern>/manager/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	<filter-mapping>
		<filter-name>managerFilter</filter-name>
		<url-pattern>/manager/*</url-pattern>
	</filter-mapping>
	<!-- 添加UTF-8编码支持 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>